.content {
    padding: 120px 0;
    max-width: 660px;
    margin: 0 auto;

    b {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 90px;
        color: #f7c310;
    }

    h1 {
        text-align: center;
        color: #f7c310;
        margin-top: 16px;
    }

    span {
        text-align: center;
        display: block;
        color: #464646;
        margin-top: 16px;
        font-family: 'Montserrat', sans-serif;
    }

    a {
        background: #c76d03;
        border-radius: 30px;
        padding: 8px;
        color: #fff;
        display: block;
        text-align: center;
        margin-top: 32px;
    }
}